/* 
  custom vars to help with responsiveness
  All will be compiled into styles.css
*/
/* All Grids */
/* Breakpoints */
/* Grid mixins */
@media (min-width: 992px) {
  .example-col {
    width: 960px;
    max-width: 960px; } }

.container {
  display: block;
  margin: auto; }
  @media (max-width: 576px) {
    .container {
      width: 540px;
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 720px;
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px;
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
      max-width: 1140px; } }

.row {
  padding: 0 15px; }
  @media (max-width: 576px) {
    .row {
      width: 540px;
      max-width: 540px; } }
  @media (min-width: 768px) {
    .row {
      width: 720px;
      max-width: 720px; } }
  @media (min-width: 992px) {
    .row {
      width: 960px;
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .row {
      width: 1140px;
      max-width: 1140px; } }

.col {
  padding: 0 15px; }

@media (max-width: 576px) {
  #tabs {
    width: 540px;
    max-width: 540px;
    display: none; } }

@media (min-width: 768px) {
  #tabs {
    width: 720px;
    max-width: 720px;
    display: flex;
    justify-content: space-evenly; }
    #tabs label {
      font-size: 2em;
      padding: 0 15px;
      text-transform: uppercase; } }
