@import './custom';

.container {
  @include breakpoint(mobile);
  @include breakpoint(tablet);
  @include breakpoint(laptop);
  @include breakpoint(desktop);
  display: block;
  margin: auto;
}

.row {
  display: block;
  margin: auto;
  padding: 0 $grid-gutter;
}

.col {
  padding: 0 $grid-gutter;
}

#main-content {
  #tabs {
    @include breakpoint(mobile) {
      display: none;
    }
    @include breakpoint(tablet) {
      display: block;
      justify-content: space-evenly;
      width: 690px;
      margin: auto;
      label {
        display: inline-block;
        padding: 0 15px 0 0;
      }
    }
  }

  #accordion-wrapper {
    display: block;
    margin: auto;

    @include breakpoint(tablet) {
      width: 690px;
      label {
        display: none;
      }
    }
    .panel {
      display: none;
    }
    .active {
      display: block;
    }
  }

  label {
    font-size: 2em;
    text-transform: uppercase;
  }
  /* material content css */

  #materials #material-stats {
    display: block;
    margin: auto;
    text-align: center;

    .material {
      display: inline-block;
    }
    @include breakpoint(tablet) {
      width: 547px;
    }
  }
}
